.card {
    padding: 16px;
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
    border: 1px solid lightgrey;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
}

.formGroup {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.error {
    color: red;
}